* {
	box-sizing: border-box;
}

body {
	font-size: 1.6em;
	color: #000;
}
/*Header*/
#header-nav {
	background-color: #6b6767;
	border: 0;
	border-radius: 0;	
}
.navbar-header {
	margin-bottom: 35px;
}
.navbar-brand h1 {
	font-size: 2em;
	text-decoration: none;
	text-transform: uppercase;
	line-height: .7;
	color: #000;
	text-align: left;
	margin-top: 10px;
} 



/*End Header*/

/*Home Page*/
h2 {
	font-size: 1.8em;
	text-shadow: 1px 1px 1px #6b6767;
	text-align: center;
	padding-bottom: 30px;
}

.box {
	background-color: #6b6767;
	padding: 10px;
	border: 1px solid black;
	margin: 5px;
	position: relative;}

.title {
	background-color: #fff;
	width: 33%;
	position: absolute;
	right: 0;
	top: 0;
	border-left:1px solid #000;
	border-bottom: 1px solid #000;
	padding: 5px;
	font-size: 1.4em;
	text-align: center;
	margin-top: 0px; 
}


p {
	margin-top: 40px;
	text-align: justify;

}

/*End Home Page*/

/******Super Small devices******/
/*Header*/
@media (max-width: 767px) {
	#collapsable-nav {
	background-color: #fff;
}
#nav-list {
	border: 1px solid #000;
}
.navbar-toggle {
	background-color: #fff;
	margin-right: 35px;
}

#nav-list > li > a {
	text-align: center;
	color: #000;
	font-size: 1.4em;
	border: 1px solid #000;
}
#nav-list a:hover {
	background-color: #6b6767;
}
/*End header*/

/*Home Page*/
.box{
	margin-right: 55px;
	margin-left: 55px;

}

.col-xs-12 {
margin-bottom: 15px;
}
p {
	margin-bottom: 40px;
}
.link {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 33%;
	color: #000;
	padding: 5px;
	background-color: #fff;
	text-align: center;
}
.link:hover {
	background-color: #0000ff;
	text-decoration: none;
	color: #000;
	border: 2px solid #000;
}

/*End Home Page*/

}